# Ignore JetBrains IDEs project files
.idea/
# Ignore virtual environment directory
venv/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (e.g., macOS specific)
.DS_Store

# Ignore logs, temp files, and cache
*.log
*.tmp
*.swp
*.bak

# Ignore generated license file
LICENSE

.env